body {
	background-color: #757575
}

p {
	padding: 2px 4px;
}

form {
	padding: 5px 10px;
}

#gameContainer {
	background-color: #a3a3a3;
	width: 90%;
	height: 85%;
	left: 5%;
	top: 5%;
	position: fixed;
	border: 2px black solid;
}

#setup {
	position:absolute;
	bottom:0;
}

#players {
	width: 250px;
	position:relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#players li {
	padding: 5px 10px;
	word-wrap: break-word
}

#nameEntry {
	position:relative;
	bottom:0;
}

#gameCanvas {
	width: 100%;
	height: 500px;
	display:table;
}

#gameCanvas > div {
	display:table-column;
	float:left;
	height:100%;
}

#play_area {
	display:table-row;
	width:calc(100% - 300px - 250px);
}
#play_area > div {
	display:table;
	height:50%;
	width:100%;
	text-align: center;
}

#playerlist {
	min-width: 100px;
	
}

#ghostword {
	font-size:48px;
}

