html, body {
    height: 100%;
}

ul {
    list-style-type: none;
    /* font-family: 'Give You Glory', cursive; */
}

#hangman_img > img {
    max-height: 100%;
    width: 100%;
}

#game_log_area {
    max-height:100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE */
}
#game_log_area::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.homepage_bg {
    /* background-color:#DDF1D7; */
    background-color: rgb(127, 205, 145);
    background-attachment: initial;  
    background-image: linear-gradient(rgba(127, 205, 145, 0.5),rgba(127,205,145,0.9)), url("../images/wordcloud_bg_hd.png");
    background-image: -webkit-linear-gradient(rgba(127, 205, 145, 0.5),rgba(127,205,145,0.9)), url("../images/wordcloud_bg_hd.png");
    background-image: -o-linear-gradient(rgba(127, 205, 145, 0.5),rgba(127,205,145,0.9)), url("../images/wordcloud_bg_hd.png");
    background-image: -moz-linear-gradient(rgba(127, 205, 145, 0.5),rgba(127,205,145,0.9)), url("../images/wordcloud_bg_hd.png");
    background-size: cover;
    overflow: hidden;

}

.homepage_box {
    background-color: #f5eaea;
    border-radius: 20px;
    color: #4d4646;
    font-family: 'Open Sans', sans-serif;
}

.homepage_box .btn {
    color: #f5eaea;
    background-color: #5b5656;
    border-color: #5b5656;
}
.homepage_box .display-2 {
    font-family: 'Architects Daughter', cursive;
}

.playpage_bg {
    /* color: rgb(91, 86, 86); */
    color: #4d4646;
    background-color: rgba(127, 205, 145, 0.9);
    font-family: 'Open Sans', sans-serif;
    /* background-attachment: initial;  
    background-image: linear-gradient(rgba(127, 205, 145, 0.95),rgba(127,205,145,0.95)), url("../images/wordcloud_bg_hd.png");
    background-image: -webkit-linear-gradient(rgba(127, 205, 145, 0.95),rgba(127,205,145,0.95)), url("../images/wordcloud_bg_hd.png");
    background-image: -o-linear-gradient(rgba(127, 205, 145, 0.95),rgba(127,205,145,0.95)), url("../images/wordcloud_bg_hd.png");
    background-image: -moz-linear-gradient(rgba(127, 205, 145, 0.95),rgba(127,205,145,0.95)), url("../images/wordcloud_bg_hd.png");
    background-size: cover;
    overflow: hidden; */
}

.game_container {
    background-color: rgba(245, 234, 234, 0.5);
}
.setup_container {
    /* background-color:rgba(245, 234, 234, 0.5); */
}